@import "../styles/defaults.scss";

.homepage {
    height: 100vh;
    background-color: $background;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.homepage .title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.homepage .title .main {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}

.homepage .title sub {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

