@mixin largePhones {
    @media only screen and (min-width: 321px) { @content; }
  }
  
@mixin tablet {
  @media only screen and (min-width: 768px) { @content; }
}

@mixin laptop {
  @media only screen and (min-width: 1024px) { @content; }
}

@mixin desktop {
  @media only screen and (min-width: 1440px) { @content; }
}

@mixin largeDesktop {
  @media only screen and (min-width: 1900px) { @content; }
}

@mixin wideScreen {
  @media only screen and (min-width: 2560px) { @content; }
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

 
$background: #ece7de;
$text: #242623;

$gray0: #000000;
$gray90: #efece7;
$gray100: #ffffff;

$blue20: #718ce5;
$blue50: #4056a1;
$blue90: #1b2444;

html {
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: $background;
  font-family: "Lato", sans-serif;
}

.page-title {
    font-size: 24px;
    font-weight: 300;
    width: 100%;
    color: $background;
    background-color: $blue50;
    padding: 10px 0;
}

