@import './defaults.scss';

.experience-card {
    width: 90%;
    margin: auto;
    border-left: 1px solid $blue20;
    padding: 10px;
}

.experience-card .company {
    text-align: left;
    font-size: 20px;
}

.experience-card .title {
    text-align: left;
    font-size: 18px;
    margin-left: 16px;
    font-weight: 400;
}

.experience-card .date {
    text-align: left;
    font-size: 16px;
    margin-left: 16px;
    font-weight: 100;
}