@import "./defaults.scss";

.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 100;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: pointer;
    height: max-content;

    --phone-font-size: 32px;
    --largePhone-font-size: 35px;
    --tablet-font-size: 35px;
    --laptop-font-size: 35px;
    --desktop-font-size: 40px;
    --largeDesktop-font-size: 50px;
    --wideScreen-font-size: 70px; 
}

.header .title {
    margin: 0;
    font-weight: 300;
    color: white;
    font-size: var(--phone-font-size);
    padding: 15px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 2000;
    
    &:hover {
        text-decoration: underline;
    }

    @include largePhones {
        padding: 17px;
        font-size: var(--largePhone-font-size);
    }

    @include tablet {
        font-size: var(--tablet-font-size);
    }

    @include laptop {
        font-size: var(--laptop-font-size);
    }

    @include desktop {
        font-size: var(--desktop-font-size);
    }

    @include largeDesktop {
        font-size: var(--largeDesktop-font-size);
    }

    @include wideScreen {
        font-size: var(--wideScreen-font-size);
    }
}

.header#blur .title {
    text-shadow: 2px 2px black;
    backdrop-filter: blur(0);
    color: #808080;
    font-size: var(--phone-font-size);
    font-weight: 700;

    @include largePhones {
        font-size: var(--largePhone-font-size);
    }

    @include tablet {
        font-size: var(--tablet-font-size);
    }

    @include laptop {
        font-size: var(--tablet-font-size);
    }

    @include desktop {
        font-size: var(--desktop-font-size);
    }

    @include largeDesktop {
        font-size: var(--largeDesktop-font-size);
    }

    @include wideScreen {
        font-size: var(--wideScreen-font-size);
    }

    &:hover {
        color: white;
        text-decoration: underline;
    }
}

.header#nonBlur .title {
    z-index: -1;
}

.header .blurBackground {
    width: 0;
    height: 0;
    backdrop-filter: blur(10px);
}

.header#blur .blurBackground {
    width: 100vw;
    height: 200vh;
    position: absolute;
    left: 0;
    z-index: 999;
    backdrop-filter: blur(10px);
    transition: height 1s;
}

.headerMenu {
    width: max-content;
    margin: 0 auto;

    &#blur {
        &.above {
            margin-top: 20px;
        }
        max-height: 100vh;
        height: max-content;
        transition: max-height 1s;
    }

    &#nonBlur {
        max-height: 0;
        height: 0;
        transition: max-height 1s;
    }
}

.menuItem {
    margin: 0;
    color: white;
    padding: 10px 0;
    position: relative;
    z-index: 3000;

    &#even {
        left: -100vw;
    }

    &#odd {
        left: 100vw;
    }
}

.headerMenu#blur .menuItem {
    color: #808080;
    left: 0;
    // transition: left 1s;
    text-shadow: 2px 2px black;
    font-size: var(--phone-font-size);
    font-weight: 700;

    &:hover {
        color: white;
        text-decoration: underline;
    }

    @include largePhones {
        font-size: var(--largePhone-font-size);
    }

    @include tablet {
        font-size: var(--tablet-font-size);
    }

    @include laptop {
        font-size: var(--tablet-font-size);
    }

    @include desktop {
        font-size: var(--desktop-font-size);
    }

    @include largeDesktop {
        font-size: var(--largeDesktop-font-size);
    }

    @include wideScreen {
        font-size: var(--wideScreen-font-size);
    }
}

.dropdownTriangle {
    margin-left: 10px;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    padding-top: 5px;
    display: inline-block;
    position: relative;
    top: 0;

    @include largeDesktop {
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid white;
        padding-top: 7px;
    }

    @include wideScreen {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
        padding-top: 10px;
    }
}