@import "./defaults.scss";

.homepage {
    height: 100vh;
    background-color: $background;
    scroll-snap-align: start;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage .title {
    width: 90%;
    margin: auto;
}

.homepage .title h1 {
    font-size: 36px;
    color: $blue90;
    font-weight: 800;
}

.homepage .title h3 {
    font-size: 18px;
    color: $blue90;
    font-weight: 400;
}


.resumeButton {
    text-decoration: none;
    border-width: 0;
    color: $blue90;
    background-color: $background;
    cursor: pointer;    
    font-size: 18px; 
    // background-color: $blue50;
    width: 100%;
    margin: 40px auto;
}













.homepage .menuBlock {
    grid-row-start: 2;
    width: 90%;
    height: 90%;
    margin: 5% auto 0 auto;
    display: none;

    @include tablet {
        
        margin: 0;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.homepage .menuBlock .menuItem {
    color: $text;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: text-shadow .2s;

    &:hover {
        text-shadow: 0 0 15px white;
    }

    @include tablet {
        font-size: 20px;
    }

    @include desktop {
        font-size: 27px;
    }
}
