@import "./defaults.scss";

.homepage {
    height: 100vh;
    background-color: $background;
    scroll-snap-align: start;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homepage .title {
    width: 90%;
    margin: auto;
}

.homepage .title .main {
    font-size: 36px;
    color: $blue90;
    font-weight: 800;
}

.homepage .title sub {
    font-size: 18px;
    color: $blue90;
    font-weight: 400;
}

.resumeButton {
    text-decoration: none;
    border-width: 0;
    color: $blue90;
    background-color: $background;
    cursor: pointer;    
    font-size: 18px; 
    // background-color: $blue50;
    width: 100%;
    margin: 40px auto;
}
