@import "./defaults.scss";


.menu {
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
    margin-top: 10px;
}

