@import './defaults.scss';

.projectCard {
    border: 1px solid white;
    width: 90%;
    margin: 50px auto;
    border-radius: 25px;
    overflow-x: hidden;
    cursor: pointer;
    position: relative;

    &:hover {
        box-shadow: 5px 5px 5px 5px black;
    }

    z-index: 0;

    background-color: rgba(44, 32, 255, .1);

    @include tablet {
        width: 70%;
    }

    @include laptop {
        width: 60%;
    }

    @include desktop {
        width: 50%;
    }

}

.scrolled#selected {
    position: relative;
    top: 5vh;
    width: 100%;
    height: 15vh;
}

.projectCard .cardTitle {
    display: inline-block;
    color: white;
    font-weight: 500;
    margin-top: 40px;

    @include largePhones {
        font-size: 20px;
    }

    @include tablet {
        font-size: 24px;
    }

    @include laptop {
        font-size: 27px;
    }

    @include desktop {
        font-size: 30px;
    }

    @include largeDesktop {
        font-size: 35px;
    }

    @include wideScreen {
        margin-top: 50px;
        font-size: 50px;
    }
}

.projectCard .cardDescription {
    color: white;
    margin: 0 10px;
    font-size: 15px;

    @include largePhones {
        font-size: 17px;
    }

    @include tablet {
        font-size: 19px;
    }

    @include laptop {
        font-size: 22px;
    }

    @include desktop {
        font-size: 20px;
    }

    @include largeDesktop {
        font-size: 26px;
    }

    @include wideScreen {
        font-size: 40px;
    }
}

.projectCard#selected {
    height: 80vh;
    transition: height .4s;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 5px 5px 5px 5px black;

    .skillIcon {
        opacity: 0;
        transition: opacity .4s;
    }
}

.projectCard#not-selected {
    height: 10em;
    transition: height .4s;
    overflow-y: hidden;
    overflow-x: hidden;

    @include largeDesktop {
        height: 15em;
    }
}




// project card slides

.projectContent {
    
}

.projectText {
    color: white;
    margin: 15px;
    font-size: 14px;

    a {
        color: white;
    }

    @include largePhones {
        font-size: 15px;
    }

    @include tablet {
        font-size: 16px;
    }

    @include laptop {
        font-size: 16px;
    }

    @include desktop {
        font-size: 18px;
    }

    @include largeDesktop {
        font-size: 22px;
    }

    @include wideScreen {
        margin: 30px;
        font-size: 35px;
    }

}

.projectImage {
    width: 90%;
    height: auto;
    margin: 1em;
    border-radius: 15px;

    &.tohNewsImage {
        width: 95%;
    }

    @include tablet {
        width: 80%;
    }

    @include laptop {
        width: 70%;
    }

    @include desktop {
        width: 60%;
    }

    @include largeDesktop {
        width: 50%;
    }

    @include wideScreen {
        width: 50%;
    }
}

.viewInNewTabIcon {
    display: inline;
    margin-left: 10px;
    // background-color: red;
}

.iconsSource {
    position: relative;
    top: 0;
    // text-color: gray;
    // text-decoration: none;

    a {
        color: rgb(172, 172, 172);
        // text-decoration: none;
    }
}

.skillIcons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
}

.skillIcon {
    margin: 0;
    opacity: .05;
    transition: opacity .4s;
}