@import './defaults.scss';

.project-card {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid $blue20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.project-card .title {
    text-align: left;
    font-size: 20px;
}

.project-card .description {
    text-align: left;
    font-size: 18px;    
}

.project-card .text-container {

}

.project-card .icon {
    flex-shrink: 0;
}