@import './defaults.scss';

.project-card {
    width: 90%;
    margin: auto;
    border-bottom: 1px solid $blue20;
}

.project-card .title {
    text-align: left;
    font-size: 20px;
}

.project-card .description {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
}